.day-controls{
  font-family: 'Fira Sans Condensed', sans-serif;

  button {
    border-radius: 50%;
    font-size: .8rem;
    margin: 10px 20px;
    &.active {
      background: #136499;
    }
  }

}