.myday-section {
  font-family: 'Fira Sans Condensed', sans-serif;

  &__bar {
    padding: 10px 0;
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
    text-transform: uppercase;
    background: #39a1e7;
    color: #fff;
  }
  &__item {
    padding: 10px 20px;
    display: block;
    font-weight: 400;
    color: #545e6f;
    font-size: 16px;
    font-style: italic;
    &:first-child {
      border-bottom: 1px solid #c1cedb;
    }
    fa-icon {
      font-size: 1rem;
    }
    span {
      margin-left: 10px;
    }
    button {
      margin-left: 10px;
      border-radius: 20px;
    }
    button.add-btn {
      padding-right: 16px;
    }
  }
}