.list-item {

  p {
    margin: 0;
  }
  .item-name {
    flex-grow: 1;
    font-weight: bold;
    font-size: 1.1rem;
  }
  .item-items {
    flex-grow: 1;
    font-style: italic;
    font-size: 0.9rem;
  }

  .btn-danger {
    margin: 0 6px;
  }

  .item-delete p {
    margin: 3px;
  }

}
